body {
  background: #ffffff;
  color: #5E5F5F;
  font-size: 16px; }

.mL5, .mH5 {
  margin-left: 5px !important; }

.mL10, .mH10, .m10 {
  margin-left: 10px !important; }

.mL20, .mH20, .m20 {
  margin-left: 20px !important; }

.mL30, .mH30, .m30 {
  margin-left: 30px !important; }

.mL40, .mH40, .m40 {
  margin-left: 40px !important; }

.mR0 {
  margin-right: 0 !important; }

.mR5, .mH5 {
  margin-right: 5px !important; }

.mR10, .mH10, .m10 {
  margin-right: 10px !important; }

.mR20, .mH20, .m20 {
  margin-right: 20px !important; }

.mR30, .mH30, .m30 {
  margin-right: 30px !important; }

.mR40, .mH40, .m40 {
  margin-right: 40px !important; }

.mT0, h1 {
  margin-top: 0 !important; }

.mT10, .mV10, .m10, .checkList li, #questions article label figure {
  margin-top: 10px !important; }

.mT20, .mV20, .m20, h3 {
  margin-top: 20px !important; }

.mT30, .mV30, .m30, .m40 {
  margin-top: 30px !important; }

.mT40, .mV40, .checkList {
  margin-top: 40px !important; }

.mT60 {
  margin-top: 60px !important; }

.mT70 {
  margin-top: 70px !important; }

.mB0 {
  margin-bottom: 0 !important; }

.mB10, .mV10, .m10, .checkList li {
  margin-bottom: 10px !important; }

.mB20, .mV20, .m20, h3 {
  margin-bottom: 20px !important; }

.mB30, .mV30, .m30, .m40 {
  margin-bottom: 30px !important; }

.mB40, .mV40, .checkList, h1, #questions article p {
  margin-bottom: 40px !important; }

.right, table tbody tr td, table tfoot tr th {
  text-align: right !important; }

.left, #questions article {
  text-align: left !important; }

.center, h1, h2, h4, #questions, #questions article label, table thead tr th {
  text-align: center !important; }

.centered, #questions div:last-child {
  margin: 0 auto !important; }

.justify {
  text-align: justify !important; }

.top, #questions article {
  vertical-align: top !important; }

.bottom {
  vertical-align: bottom !important; }

.middle {
  vertical-align: middle !important; }

.p5 {
  padding: 5px !important; }

.p10, table thead tr th, table tbody tr td, table tbody tr td.left,
table tfoot tr th.left, table tfoot tr th {
  padding: 10px !important; }

.p20 {
  padding: 20px !important; }

.p30, #questions article {
  padding: 30px !important; }

.p40 {
  padding: 40px !important; }

.pL0, .checkList {
  padding-left: 0 !important; }

.pL10 {
  padding-left: 10px !important; }

.pL20, .checkList li {
  padding-left: 20px !important; }

.pL30 {
  padding-left: 30px !important; }

.pL40 {
  padding-left: 40px !important; }

.inlineBlock, #questions article, #questions article label figure {
  display: inline-block !important; }

.block, #questions article label span {
  display: block !important; }

.uppercase, #questions article label span {
  text-transform: uppercase !important; }

.abs {
  position: absolute !important; }

.rel {
  position: relative !important; }

.hid {
  visibility: hidden !important; }

.table {
  display: table !important; }

.cell, #questions article label {
  display: table-cell !important; }

.bR0 {
  border-right: none !important; }

.blue {
  color: #0095DA; }

.blueSky {
  color: #77CBE8; }

.green {
  color: #B4E573; }

.checkList {
  list-style: none; }
  .checkList li {
    background: url("../img/list_item.png") no-repeat left top 2px;
    font-size: 14px;
    color: #8E8E8E; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #5E5F5F; }

h2, h4 {
  font-family: "Open Sans", sans-serif;
  color: #8E8E8E;
  font-size: 22px;
  font-weight: 100; }

h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #0095DA; }

h4 {
  font-size: 18px !important; }

.btn.btn-primary {
  background-color: #B2B2B2;
  border-color: #B2B2B2;
  color: #ffffff;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
  transition: 0.5s !important; }

.btn.btn-primary:hover {
  background-color: #0095DA;
  border-color: #0095DA; }

#logo img {
  max-width: 200px;
  max-height: 60px; }

#credits {
  font-size: 13px; }

#questions article {
  width: 350px;
  border-right: 1px dashed #B2B2B2; }
  #questions article p {
    height: 80px; }
  #questions article div.table {
    height: 90px !important;
    overflow: hidden; }
  #questions article label {
    width: 33.33%; }
    #questions article label span {
      font-size: 12px;
      font-weight: 400 !important;
      color: #5E5F5F; }
    #questions article label .option1_1 {
      width: 37px;
      height: 19px;
      background: url("../img/option1_1.png") no-repeat center bottom; }
    #questions article label .option1_2 {
      width: 40px;
      height: 60px;
      background: url("../img/option1_2.png") no-repeat center bottom; }
    #questions article label .option1_3 {
      width: 93px;
      height: 60px;
      background: url("../img/option1_3.png") no-repeat center bottom; }
    #questions article label .option2_1 {
      width: 14px;
      height: 14px;
      background: url("../img/option2_1.png") no-repeat center bottom; }
    #questions article label .option2_2 {
      width: 36px;
      height: 32px;
      background: url("../img/option2_2.png") no-repeat center bottom; }
    #questions article label .option2_3 {
      width: 60px;
      height: 53px;
      background: url("../img/option2_3.png") no-repeat center bottom; }
    #questions article label .option3_1 {
      width: 32px;
      height: 32px;
      background: url("../img/option3_1.png") no-repeat center bottom; }
    #questions article label .option3_2 {
      width: 37px;
      height: 33px;
      background: url("../img/option3_2.png") no-repeat center bottom; }
    #questions article label .option3_3 {
      width: 42px;
      height: 36px;
      background: url("../img/option3_3.png") no-repeat center bottom; }
    #questions article label .optionB_1 {
      width: 32px;
      height: 32px;
      background: url("../img/optionB_1.png") no-repeat center bottom; }
    #questions article label .optionB_2 {
      width: 32px;
      height: 32px;
      background: url("../img/optionB_2.png") no-repeat center bottom; }
  #questions article label, #questions article label:hover {
    cursor: pointer; }
    #questions article label figure, #questions article label figure.active, #questions article label:hover figure, #questions article label:hover figure.active {
      background-position: center top; }
  #questions article p {
    color: #5E5F5F; }
  #questions article input[type="radio"] {
    position: absolute;
    visibility: hidden; }
#questions div:last-child {
  width: 70%; }
#questions article:last-child {
  border-right: none; }

#questions.ng-hide-add {
  -webkit-animation: slideOutUp 0.5s;
  -moz-animation: slideOutUp 0.5s;
  -ms-animation: slideOutUp 0.5s;
  -o-animation: slideOutUp 0.5s;
  animation: slideOutUp 1 0.5s; }

#results.ng-hide-add {
  -webkit-animation: slideOutDown 0.5s;
  -moz-animation: slideOutDown 0.5s;
  -ms-animation: slideOutDown 0.5s;
  -o-animation: slideOutDown 0.5s;
  animation: slideOutDown 1 0.5s; }

#results.ng-hide-remove {
  -webkit-animation: slideInUp 1s;
  -moz-animation: slideInUp 1s;
  -ms-animation: slideInUp 1s;
  -o-animation: slideInUp 1s;
  animation: slideInUp 1 1s; }

#questions.ng-hide-remove {
  -webkit-animation: slideInDown 0.5s;
  -moz-animation: slideInDown 0.5s;
  -ms-animation: slideInDown 0.5s;
  -o-animation: slideInDown 0.5s;
  animation: slideInDown 1 0.5s; }

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  background: #f7f7f7;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
  border-radius: 25px !important;
  border: 0 solid #f7f7f7; }

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  border: 0 solid #f7f7f7;
  height: 30px;
  width: 10px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #0095DA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f7f7f7; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  background: #f7f7f7;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
  border-radius: 25px !important;
  border: 0 solid #f7f7f7; }

input[type=range]::-moz-range-thumb {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  border: 0 solid #f7f7f7;
  height: 30px;
  width: 10px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #0095DA;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #f7f7f7;
  border: 0 solid #f7f7f7;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent; }

input[type=range]::-ms-fill-upper {
  background: #f7f7f7;
  border: 0 solid #f7f7f7;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent; }

input[type=range]::-ms-thumb {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  -ms-box-shadow: 0 0 0 0 transparent;
  -o-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
  border: 0 solid #f7f7f7;
  height: 30px;
  width: 10px;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #0095DA;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #f7f7f7; }

input[type=range]:focus::-ms-fill-upper {
  background: #f7f7f7; }

table {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

table thead tr th {
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap; }

table tbody tr td {
  border-right: 1px solid #AAAAAA; }

table tbody tr td:first-child,
table tbody tr td:last-child {
  border-right: none; }

table tfoot {
  border-top: 1px solid #5E5F5F;
  font-size: 14px; }

table thead tr th.iaas {
  background: #B4E573;
  color: #ffffff; }

table thead tr th.managedSrv {
  background: #77CBE8;
  color: #ffffff; }

table thead tr th.coLocation {
  background: #0095DA;
  color: #ffffff; }

table tfoot tr th.iaas {
  color: #B4E573; }

table tfoot tr th.managedSrv {
  color: #77CBE8; }

table tfoot tr th.coLocation {
  color: #0095DA; }

svg text {
  fill: #5E5F5F;
  font-family: "Open Sans", sans-serif; }
svg g > g > g > g text {
  font-size: 15px;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px); }

/*# sourceMappingURL=main.css.map */
