//Fonts
$main-font: "Open Sans", sans-serif;
$secondary-font: "Open Sans Condensed", sans-serif;
//Colors
$background-color: #ffffff;
$green: #B4E573;
$blueSky: #77CBE8;
$blue: #0095DA;
$gray: #5E5F5F;
$gray-light: #8E8E8E;
$gray-lighter: #B2B2B2;
$gray-lightest: #f7f7f7;

//Mixins
@mixin border-radius($radius){
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  -o-border-radius: $radius !important;
  border-radius: $radius !important;
}

@mixin transition($time){
  -webkit-transition: $time !important;
  -moz-transition: $time !important;
  -ms-transition: $time !important;
  -o-transition: $time !important;
  transition: $time !important;
}

@mixin animation($type, $time){
  -webkit-animation: $type $time;
  -moz-animation: $type $time;
  -ms-animation: $type $time;
  -o-animation: $type $time;
  animation: $type 1$time;
}

@mixin box-shadow($x,$y,$size,$spread,$color){
  -webkit-box-shadow: $x $y $size $spread $color;
  -moz-box-shadow: $x $y $size $spread $color;
  -ms-box-shadow: $x $y $size $spread $color;
  -o-box-shadow: $x $y $size $spread $color;
  box-shadow: $x $y $size $spread $color;
}

@mixin transform-translate($x,$y){
  -webkit-transform: translate($x,$y);
  -moz-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  -o-transform: translate($x,$y);
  transform: translate($x,$y);
}

//General
body{
  background: $background-color;
  color: $gray;
  font-size: 16px;
}

.mL5{margin-left: 5px !important;}
.mL10{margin-left: 10px !important;}
.mL20{margin-left: 20px !important;}
.mL30{margin-left: 30px !important;}
.mL40{margin-left: 40px !important;}

.mR0{margin-right: 0 !important;}
.mR5{margin-right: 5px !important;}
.mR10{margin-right: 10px !important;}
.mR20{margin-right: 20px !important;}
.mR30{margin-right: 30px !important;}
.mR40{margin-right: 40px !important;}

.mH5{@extend .mL5;@extend .mR5;}
.mH10{@extend .mL10;@extend .mR10;}
.mH20{@extend .mL20;@extend .mR20;}
.mH30{@extend .mL30;@extend .mR30;}
.mH40{@extend .mL40;@extend .mR40;}

.mT0{margin-top: 0 !important;}
.mT10{margin-top: 10px !important;}
.mT20{margin-top: 20px !important;}
.mT30{margin-top: 30px !important;}
.mT40{margin-top: 40px !important;}
.mT60{margin-top: 60px !important;}
.mT70{margin-top: 70px !important;}

.mB0{margin-bottom: 0 !important;}
.mB10{margin-bottom: 10px !important;}
.mB20{margin-bottom: 20px !important;}
.mB30{margin-bottom: 30px !important;}
.mB40{margin-bottom: 40px !important;}

.mV10{@extend .mT10;@extend .mB10;}
.mV20{@extend .mT20;@extend .mB20;}
.mV30{@extend .mT30;@extend .mB30;}
.mV40{@extend .mT40;@extend .mB40;}

.m10{@extend .mV10;@extend .mH10}
.m20{@extend .mV20;@extend .mH20}
.m30{@extend .mV30;@extend .mH30}
.m40{@extend .mV30;@extend .mH40}

.right{text-align: right !important;}
.left{text-align: left !important;}
.center{text-align: center !important;}
.centered{margin:0 auto !important;}
.justify{text-align: justify !important;}
.top{vertical-align: top !important;}
.bottom{vertical-align: bottom !important;}
.middle{vertical-align: middle !important;}

.p5{padding: 5px !important;}
.p10{padding: 10px !important;}
.p20{padding: 20px !important;}
.p30{padding: 30px !important;}
.p40{padding: 40px !important;}

.pL0{padding-left: 0 !important;}
.pL10{padding-left: 10px !important;}
.pL20{padding-left: 20px !important;}
.pL30{padding-left: 30px !important;}
.pL40{padding-left: 40px !important;}

.inlineBlock{ display: inline-block !important; }
.block{ display: block !important; }
.uppercase{text-transform: uppercase !important;}
.abs{position: absolute !important;}
.rel{position: relative !important;}
.hid{visibility: hidden !important;}

.table{display: table !important;}
.cell{display: table-cell !important;}

.bR0{border-right: none !important;}

//Colors
.blue{color: $blue}
.blueSky{color: $blueSky}
.green{color: $green}

//Lists
.checkList{
  @extend .pL0;
  @extend .mV40;
  list-style: none;
  li{
    @extend .pL20;
    background: url("../img/list_item.png") no-repeat left top 2px;
    font-size: 14px;
    color: $gray-light;
    @extend .mV10;
  }
}

//Headings
h1{
  font-family: $main-font;
  font-size: 40px;
  font-weight: 100;
  color: $gray;
  @extend .center;
  @extend .mT0;
  @extend .mB40;
}

h2{
  font-family: $main-font;
  color: $gray-light;
  font-size: 22px;
  font-weight: 100;
  @extend .center;
}

h3{
  font-family: $secondary-font;
  font-size: 26px;
  font-weight: 300;
  color: $blue;
  @extend .mV20;
}

h4{
  @extend h2;
  font-size: 18px !important;
}

//Buttons
.btn.btn-primary{
  background-color: $gray-lighter;
  border-color: $gray-lighter;
  color: $background-color;
  @include border-radius(0);
  @include transition(0.5s);
}
.btn.btn-primary:hover{
  background-color: $blue;
  border-color: $blue;
}

#logo{
  img{
    max-width: 200px;
    max-height: 60px;
  }
}
#credits{font-size: 13px}

#questions{
  @extend .center;
  article{
    width: 350px;
    border-right: 1px dashed $gray-lighter;
    @extend .inlineBlock;
    @extend .left;
    @extend .p30;
    @extend .top;
    p{
      height: 80px;
    }
    div.table{
      height: 90px !important;
      overflow: hidden;
    }
    label{
      @extend .cell;
      @extend .center;
      width: 33.33%;
      span{
        @extend .block;
        @extend .uppercase;
        font-size: 12px;
        font-weight: 400 !important;
        color: $gray;
      }
      figure{
        @extend .inlineBlock;
        @extend .mT10;
      }
      .option1_1{
        width: 37px;
        height: 19px;
        background: url("../img/option1_1.png") no-repeat center bottom;
      }
      .option1_2{
        width: 40px;
        height: 60px;
        background: url("../img/option1_2.png") no-repeat center bottom;
      }
      .option1_3{
        width: 93px;
        height: 60px;
        background: url("../img/option1_3.png") no-repeat center bottom;
      }
      .option2_1{
        width: 14px;
        height: 14px;
        background: url("../img/option2_1.png") no-repeat center bottom;
      }
      .option2_2{
        width: 36px;
        height: 32px;
        background: url("../img/option2_2.png") no-repeat center bottom;
      }
      .option2_3{
        width: 60px;
        height: 53px;
        background: url("../img/option2_3.png") no-repeat center bottom;
      }
      .option3_1{
        width: 32px;
        height: 32px;
        background: url("../img/option3_1.png") no-repeat center bottom;
      }
      .option3_2{
        width: 37px;
        height: 33px;
        background: url("../img/option3_2.png") no-repeat center bottom;
      }
      .option3_3{
        width: 42px;
        height: 36px;
        background: url("../img/option3_3.png") no-repeat center bottom;
      }
      .optionB_1{
        width: 32px;
        height: 32px;
        background: url("../img/optionB_1.png") no-repeat center bottom;
      }
      .optionB_2{
        width: 32px;
        height: 32px;
        background: url("../img/optionB_2.png") no-repeat center bottom;
      }
    }
    label, label:hover {
      figure, figure.active{
        background-position: center top;
      }
      cursor: pointer;
    }
    p{
      color: $gray;
      @extend .mB40;
    }
    input[type="radio"]{
      position: absolute;
      visibility: hidden;
    }
  }
  div:last-child{
    width: 70%;
    @extend .centered;
  }
  article:last-child{
    border-right: none;
  }
}

#questions.ng-hide-add,
{
  @include animation(slideOutUp,0.5s)
}

#results.ng-hide-add{
  @include animation(slideOutDown,0.5s)
}

#results.ng-hide-remove{
  @include animation(slideInUp,1s);
}

#questions.ng-hide-remove{
  @include animation(slideInDown,0.5s)
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  @include box-shadow(0,0,0,0,transparent);
  background: $gray-lightest;
  @include border-radius(25px);
  border: 0 solid $gray-lightest;
}

input[type=range]::-webkit-slider-thumb {
  @include box-shadow(0,0,0,0,transparent);
  border: 0 solid $gray-lightest;
  height: 30px;
  width: 10px;
  @include border-radius(10px);
  background: $blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $gray-lightest;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  @include box-shadow(0,0,0,0,transparent);
  background: $gray-lightest;
  @include border-radius(25px);
  border: 0 solid $gray-lightest;
}
input[type=range]::-moz-range-thumb {
  @include box-shadow(0,0,0,0,transparent);
  border: 0 solid $gray-lightest;
  height: 30px;
  width: 10px;
  @include border-radius(10px);
  background: $blue;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 15px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $gray-lightest;
  border: 0 solid $gray-lightest;
  border-radius: 50px;
  @include box-shadow(0,0,0,0,transparent);
}
input[type=range]::-ms-fill-upper {
  background: $gray-lightest;
  border: 0 solid $gray-lightest;
  border-radius: 50px;
  @include box-shadow(0,0,0,0,transparent);
}
input[type=range]::-ms-thumb {
  @include box-shadow(0,0,0,0,transparent);
  border: 0 solid $gray-lightest;
  height: 30px;
  width: 10px;
  @include border-radius(10px);
  background: $blue;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $gray-lightest;
}
input[type=range]:focus::-ms-fill-upper {
  background: $gray-lightest;
}

table {
  font-family: $main-font;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table thead tr th{
  color: $background-color;
  @extend .p10;
  font-size: 14px;
  white-space: nowrap;
  @extend .center;
}

table tbody tr td{
  @extend .p10;
  @extend .right;
  border-right: 1px solid #AAAAAA;
}

table tbody tr td:first-child,
table tbody tr td:last-child
{
  border-right: none
}

table tfoot{
  border-top: 1px solid $gray;
  font-size: 14px;
}

table tbody tr td.left,
table tfoot tr th.left
{
  @extend .p10;
}

table thead tr th.iaas {background: $green; color: $background-color;}
table thead tr th.managedSrv{ background: $blueSky; color: $background-color;}
table thead tr th.coLocation{ background: $blue; color: $background-color;}

table tfoot tr th{
  @extend .right;
  @extend .p10;
}

table tfoot tr th.iaas{ color: $green; }
table tfoot tr th.managedSrv{ color: $blueSky; }
table tfoot tr th.coLocation{ color: $blue; }

svg{
  text{
    fill: $gray;
    font-family: $main-font;
  }
  g > g > g > g text{
    font-size: 15px;
    @include transform-translate(0,-20px);
  }
}