<h1>TCO Results</h1>
<h2>Thank you for providing information on your company.<br> Included are costs associated with 3 infrastructure alternatives.</h2>

<div class="row mT40">
    <div class="col-md-6">
        <h3>5 Year Total Costs by TCO</h3>
        <div google-chart chart="columnChart"></div>
    </div>
    <div class="col-md-6">
        <h3 class="left">Overview</h3>
        <div class="mT70" data-ng-show="fiveYear[2].five_year_total < fiveYear[1].five_year_total && fiveYear[0].five_year_total">
            <p>
                Based on your submission, the lowest cost option for your company over 5 years is Co-Location. Equinix’s Co-Location services can help safeguard your organization’s mission-critical data with the highest levels of security and operational reliability. Equinix offers value through:
            </p>
        </div>
        <div class="mT40" data-ng-hide="fiveYear[2].five_year_total < fiveYear[1].five_year_total && fiveYear[0].five_year_total">
            <p>
                Based on the company information you submitted, Co-Location may not be your most cost-effective alternative. Equinix’s Co-Location services can help safeguard your organization’s mission-critical data with the highest levels of security and operational reliability. Co-location can be a very economical choice for organizations with large, complex infrastructures that need scalability as they expand globally.
            </p>
            <p>
                Equinix can provide:
            </p>
        </div>
        <ul class="checkList">
            <li>Premium data centers featuring advanced design, security, power and cooling elements providing customers with industry-leading reliability</li>
            <li>Comprehensive and consistent global service offering with 42 IBX centers in 18 markets in the U.S., Europe and Asia-Pacific</li>
            <li>Improved economics on account of the broad access to over 1,000 networks inside of Equinix’s ecosystem</li>
            <li>High average uptime, up to 99.999%</li>
        </ul>
    </div>
</div>
<div class="row mT40">
    <div class="col-md-6">
        <h3>Cost Breakdown by Year</h3>
        <div google-chart chart="areaChart"></div>
    </div>
    <div class="col-md-6">
        <h3>Cost Detail</h3>
        <table class="mT70">
            <thead>
            <tr>
                <th></th>
                <th class="iaas">IaaS</th>
                <th class="managedSrv">Managed Srv</th>
                <th class="coLocation">Co-Location</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Start-up</td>
                <td>{{costDetail[0].iaas | currency:"$":0}}</td>
                <td>{{costDetail[0].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[0].co_location | currency:"$":0}}</td>
            </tr>
            <tr>
                <td class="left">Staffing</td>
                <td>{{costDetail[1].iaas | currency:"$":0}}</td>
                <td>{{costDetail[1].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[1].co_location | currency:"$":0}}</td>
            </tr>
            <tr>
                <td class="left">Facilities</td>
                <td>{{costDetail[2].iaas | currency:"$":0}}</td>
                <td>{{costDetail[2].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[2].co_location | currency:"$":0}}</td>
            </tr>
            <tr>
                <td class="left">Connectivity</td>
                <td>{{costDetail[3].iaas | currency:"$":0}}</td>
                <td>{{costDetail[3].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[3].co_location | currency:"$":0}}</td>
            </tr>
            <tr>
                <td class="left">Other</td>
                <td>{{costDetail[4].iaas | currency:"$":0}}</td>
                <td>{{costDetail[4].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[4].co_location | currency:"$":0}}</td>
            </tr>
            <tr>
                <td class="left">Total One-Time</td>
                <td>{{costDetail[5].iaas | currency:"$":0}}</td>
                <td>{{costDetail[5].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[5].co_location | currency:"$":0}}</td>
            </tr>
            <tr>
                <td class="left">Total Recurring</td>
                <td>{{costDetail[6].iaas | currency:"$":0}}</td>
                <td>{{costDetail[6].mgd_service | currency:"$":0}}</td>
                <td>{{costDetail[6].co_location | currency:"$":0}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="left">Totals</th>
                <th class="iaas">{{costDetail[7].iaas | currency:"$":0}}</th>
                <th class="managedSrv">{{costDetail[7].mgd_service | currency:"$":0}}</th>
                <th class="coLocation">{{costDetail[7].co_location | currency:"$":0}}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="center mV40">
    <a class="btn btn-primary mH5" href data-ng-click="setPage(1);goTo('body')">
        <img src="img/start_over.png" alt="Start Over">
    </a>
    <a class="btn btn-primary mH5" href="docs/SaaS_Delivery_Guidebook_EQX_V1.1_(1).pdf" download target="_blank">
        <img src="img/guidebook.png" alt="Download SaaS Delivery Guidebook">
    </a>
    <a class="btn btn-primary mH5" href="mailto:info@equinix.com" target="_blank">
        <img src="img/talk_to_equinix.png" alt="Talk to Equinix">
    </a>
</div>