<h1>Tell us about your organization</h1>

<section class="clearfix mB40">
    <article data-ng-repeat="question in questions" data-ng-class="{bR0: $index == 2}">
        <h3>{{question.title}}</h3>
        <p>
            {{question.description}}
        </p>
        <div class="table" data-ng-init="index = $index">
            <label data-ng-repeat="option in question.options" class="top">
                <span data-ng-if="option.class != 'icon'">{{option.label}}</span>
                <input data-ng-if="option.class != 'icon'" type="radio" data-ng-model="options[index]" data-ng-change="updateCharts()" data-ng-value="option.value" data-ng-checked="options[index] == option.value">
                <figure data-ng-if="option.class != 'icon'" class="{{option.class}}" data-ng-class="{active: options[index] == option.value}"></figure>
                <img data-ng-if="option.class == 'icon'" data-ng-src="{{option.value}}">
            </label>
        </div>
        <div>
            <input data-ng-if="$index != 3 && $index != 4" type="range" min="1" max="3" step="1" data-ng-model="options[index]" data-ng-change="updateCharts()">
            <input data-ng-if="$index == 3 || $index == 4" type="range" min="1" max="2" step="1" data-ng-model="options[index]" data-ng-change="updateCharts()">
        </div>
    </article>
</section>

<div class="center mV40 clearfix">
    <a class="btn btn-primary" href data-ng-click="setPage(2);goTo('body')">
        <img src="img/see_results_button.png" alt="See Results">
    </a>
</div>